<h1>Welcome</h1>

<%= link_to 'Authors list - CRUD', authors_path %>
<br/><br/>
<%= link_to 'Graph1: first simplest method to use query and create graph data', graph_graph1_path %>
<br/><br/>
<%= link_to 'Graph2: second - optimized method to use ChartGraph class and grap helper to generate view', graph_graph2_path %>
<br/><br/>
<%= link_to 'Graph3: third method the same as second but using additional gem : grap_form_sql', graph_graph3_path %>
